* {
    margin: 0;
    padding: 0;
}

header { 
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
    min-height: 30px;
    color: #FFFFFF;
    height: 70px;
    background-color: rgb(6, 3, 15);
}

h1 {
    text-decoration-line: underline;
}

.main {
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    margin: auto;
}

.page-title {
    font-size: 25px;
    font-family: sans-serif;
}

.primary-navigation {
    display: flex;
    font-size: 18px;
    margin-left: 17%;
    margin-right: 6%;
    background-color: rgb(6, 3, 15);
}

.secondary-navigation {
    display: flex;
    gap: 50px;
    margin:auto;
    margin-left: 30%;
}

.secondary-navigation li, .secondary-navigation li a  {
    text-decoration: none;
    list-style: none;
}

.social-primary {
    display: flex;
    margin-left: 13.5%;
}

.social-media {
    display: flex;
    gap: 2rem;
    margin:auto;
    margin-left: 27%;
}

.social-media li, .social-media li a  {
    text-decoration: none;
    list-style: none;
}

.fa {  
    padding: 20px;  
  text-align: center;  
    margin: 5px 2px;  
    font-size: 30px;  
    width: 50px;  
} 

.fa-facebook {  
    color: white;  
    width: 10px;
}  

.fa-twitter {  
    color: white;  
    width: 10px;
}

.fa-instagram {  
    color: white;
    width: 10px;  
}

.fa:hover {  
    opacity: 0.9;  
}  